{% if section.settings.all-products-button != blank and section.settings.all-products-button-url != blank %}
    <a href="{{ section.settings.all-products-button-url }}" class="all-products-button">{{ section.settings.all-products-button }}</a>
{% endif %}