.collection-title h2 {
    text-align: center;
    font-weight: bold;
}

.products-container ul, .products-container li {
    list-style-type: none;
}

.products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
}

.product-card {
    flex: 1 0 calc( 25% - 80px);
    transition: .3s all;
}

.product-card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-card .product-link {
    text-decoration: none;
}

.product-card .product-image {
    display: flex;
    justify-content: center;
}

.product-card .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.product-card .product-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.7rem;
}

.product-card .product-price {
    font-size: 1.7rem;
}

.product-card .product-info p {
    margin: 0;
    text-align: center;
}

.product-card .product-color {
    padding: 0;
}