.collection-container {
    padding-block: 12rem;
}

.collection-title h2 {
    text-align: center;
    font-weight: bold;
    font-size: 3.5rem;
}

.products-container ul, .products-container li {
    list-style-type: none;
}

.products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0;
}

.product-card {
    flex: 1 0 calc( 25% - 80px);
    transition: .3s all;
}

.product-card:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-card .product-link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-card .product-image-container {
    justify-content: center;
    position: relative;
    height: 350px;
    width: 100%;
}

.product-card .product-image-container .product-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s ease;
}

.primary-image {
    opacity: 1;
}

.secondary-image {
    opacity: 0;
}

.product-image-container:hover .primary-image {
    opacity: 0;
}

.product-image-container:hover .secondary-image {
    opacity: 1;
    transform: scale(1.05);
}

.product-card .product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.product-card .product-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4;
    font-size: 1.7rem;
}

.product-card .product-price {
    font-size: 1.7rem;
}

.product-card .product-info p, .product-card .product-info h4 {
    margin: 0;
    text-align: center;
}

.product-card .product-color {
    padding: 0;
}